.DS_Store
**/plugin/
**/plugins/
**/ignore

nvim/**/lazy-lock.json
nvim/.config/nvim/spell/

fish/**/.reel/
fish/**/.fisher/
fish/**/fisher/
fish/**/themes
!fish/**/themes/
fish/**/fish_variables
fish/**/*.local
fish/**/*.local.*
fish/**/*.local/
fish/**/local/
fish/**/fishprof*.txt
fish/**/.omf2/
fish/**/.tackle/
